.theme-color-pink {
  background: #f36e6f;
}

.pink {
  color: #f36e6f;
}

.white {
  color: #fff;
}

.red {
  color: red;
}

.bg-red {
  background-color: rgb(202, 9, 9);
  color: #fff;
}

.bg-white {
  background-color: #fff;
  color: black;
}

.bg-blue {
  background-color: #dbf5f0;
}

.green {
  color: green;
}
