.carousel_product_details {
  margin: 0 auto;
  max-width: 60%;
  /* height: 50%; */
}

.details-link {
  text-decoration: none;
  text-decoration-color: black;
  color: black;
}

.dog-description-outline {
  box-shadow: -4px 4px 32px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  min-height: 400px;
  width: 100%;
  padding: 20px;
  height: 100%;
}

.product_image_details {
  height: 400px;
  width: 600px;
  /* border: 1px solid black; */
  margin: auto;
}
.product_image_details img {
  height: 100%;
  object-fit: contain;
}

@media (max-width: 700px) {
  .carousel_product_details {
    max-width: 100%;
  }
}
